# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Editor/IDE specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak

# Sensitive information
.env